/* Minimal App styles */
:root {
  --font-outfit: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-outfit);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}